.Detail {
  border-radius: 4px;
  padding: 0.5em;
  border: 2px solid #aaa;
}

.Summary {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  padding: 0.5em;
}

.Children {
  padding: 0.5em;
}
