.FlexContainer {
  display: flex;

  flex-flow: row wrap;
  justify-content: space-around;
}

.column {
  flex-flow: column;
}

.columnWrap {
  flex-flow: column wrap;
}

.row {
  flex-flow: row;
}

.rowWrap {
  flex-flow: row wrap;
}
