.Readback {
  font-size: 1rem;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #383838;
  color: #00bb00;
  font: 14px helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Readback.undefined,
.Readback.invalid,
.Readback.changing {
  color: var(--invalid);
}

.Readback.warning {
  color: var(--warning);
}

.Readback.alarm {
  color: var(--alarm);
}
