.HookedReadback {
  text-align: center;
  font-size: 1rem;
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: "#383838";
  color: "#00bb00";
  font: 14px helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.HookedReadback.Minor {
  color: #eeee00;
}

.HookedReadback.Major {
  color: #ee0000;
}
