.Label {
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 3px;
  background-color: #888888;
  font: 14px helvetica, sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}
