.Label {
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0;
  background-color: #c8c8c8;
  font: 14px helvetica, sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  white-space: pre;
  overflow: hidden;
}
