.Children {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

.Border {
  border: solid 5px #000000;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.MinorAlarm {
  border: solid 5px #ffff18;
}

.MajorAlarm {
  border: solid 5px #ff0000;
}

.NotConnected {
  border: solid 5px #ffffff;
}
