.Children {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

.Border {
  border: solid 3px #000000;
  box-sizing: border-box;
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.MinorAlarm {
  border: solid 3px #ffff18;
}

.MajorAlarm {
  border: solid 3px #ff0000;
}

.NotConnected {
  border: solid 3px #ffffff;
}
