.CopyWrapper {
  border: 1px solid #aaaaaa;
  display: inline-block;
  text-align: center;
  position: relative;
}

.CopyWrapper .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  bottom: 115%;
  left: 50%;
}

.CopyWrapper .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.CopyWrapper:hover .tooltiptext {
  visibility: visible;
}
