.actionbutton {
  background-color: transparent;
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.actionbutton:hover {
  background-color: gray;
}

.figure {
  margin: 0;
}
