.actionbutton {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
  text-overflow: ellipsis;
  padding: 0;
}

.actionbutton span {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actionbutton:hover {
  background-color: gray;
}

.figure {
  margin: 0;
}
