.header {
  height: 5vh;
  width: 100%;
  position: relative;
  background-color: var(--diamond-blue);
  display: flex;
}

.imgWrapper {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  justify-content: flex-start;
  align-items: center;
}

.img {
  height: 50%;
}

.h1 {
  clear: none;
  font-size: 2vh;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  align-items: center;
  color: #cccccc;
}

.buttonWrapper {
  width: 100px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  justify-content: flex-end;
  align-items: center;
  border: 0;
  margin: 1rem;
}
