.led {
  margin: 20px auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #690;
  box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7d0 0 2px 12px;
}

.Major {
  background-color: #940;
  box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #f00 0 2px 12px;
}

.Minor {
  background-color: #a90;
  box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #dd0 0 2px 12px;
}

.Disconnected {
  background-color: #787878;
  box-shadow: #000 0 -1px 7px 1px, inset #b4b4b4 0 -1px 9px, #ffffff 0 2px 14px;
}
