.customContext {
  border: solid 1px #ccc;
  display: inline-block;
  margin: 4px;
  background: #fff;
  color: #000;
  cursor: pointer;
  width: 250px;
  font-size: 1.4rem;
  z-index: 1000;
}
.customContextItem {
  border-bottom: dotted 1px #ccc;
  padding: 5px 25px;
}
.customContextItem:hover {
  background: #ddd;
}
