.actionbutton {
  background-color: inherit;
  display: flex;
  text-align: center;
  justify-content: center;
}

.image {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.image:hover {
  background-color: gray;
}
