.Tooltip {
  background-color: black;
  white-space: pre-line;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  font-size: 1.6rem;
}

.TooltipAvailable {
  cursor: context-menu;
}

.Copying {
  cursor: crosshair;
}
