* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background: var(--colour-background);
  color: var(--color-text);
  font-family: "Open sans";
  font-size: 16px;
}

.App {
  width: 1200px;
  float: left;
  position: relative;
  left: 50%;
  margin-left: -600px;
  background: var(--colour-background);
  padding: 10px;
}
.top {
  width: 100%;
  padding: 10px;
  background: var(--colour-background);
  text-align: right;
  height: 200px;
}
