.block {
  position: absolute;
  border: solid 1px black;
}

.on {
  position: absolute;
  max-width: 100%;
  min-width: 0%;
  max-height: 100%;
  bottom: 0px;
  left: 0px;
  display: inline-block;
}

.off {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  background-color: #c9c9c9;
  display: inline-block;
}

.label {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 20%;
  height: 80%;
  width: 100%;
  text-align: center;
  opacity: 0%;
  font-weight: bold;
  font-size: 2em;
}
