.widgetContainer {
  width: 80%;
  margin: auto;
  color: var(--light-text);
}
.widgetSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.6rem;
}

.radioButtonSet {
  display: grid;
  grid-template-columns: 30px 150px;
  grid-template-rows: 50% 50%;
}

.simpleUpdater {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #383838;
  color: #00bb00;
  font: 14px helvetica;
}