.Input {
  height: 100%;
  width: 100%;
  min-width: 0;
  display: flex;
  text-align: center;
  color: blue;
  box-sizing: border-box;
  border-width: 1px;
}

.Input.readonly {
  cursor: not-allowed;
}
